<h1 class="text-3xl tracking-wide text-center">
  Canoë Flights
</h1>
                      <%# THIS IS THE RECAP REQUEST %>

<div class="p-4 m-2 rounded-lg bg-blue-950 text-white">
  <h2 class="text-xl font-semibold mb-4">Flight Results for</h2>
  <div class="flex">
    <h3><%= @departure_city %> - <%= @arrival_city %></h3>
    <h3 class="mx-8"><%= @departure_date.strftime('%a, %B %d') %> - <%= @return_date.strftime('%a, %B %d') %></h3>
    <h3 class="mx-8"><%= @adults %> adults</h3>
  </div>
</div>

<% @flights.each do |flight| %>
  <div class="flight-details bg-white rounded-lg mx-64 my-8 py-4 px-4">
    <% flight['itineraries'].each do |itinerary| %>
      <div class="itinerary">
        <% segments = itinerary['segments'] %>
        <% date_departure_calcul = Time.parse(segments.first['departure']['at']).strftime('%Y/%m/%d') %>
        <% arrival_departure_calcul = Time.parse(segments.last['arrival']['at']).strftime('%Y/%m/%d') %>
        <% operating_airline_codes = segments.map { |segment| segment["operating"]["carrierCode"] }.uniq %>
        <% operating_airlines = operating_airline_codes.map { |code| search_airlines_name(code, @access_token) } %>

                      <%# THIS IS THE DISPLAYED FLIGHT INFO %>
        <p>
          <%= Time.parse(segments.first['departure']['at']).strftime('%H:%M') %> -
          <small><%= itinerary['duration'].strip[2..-1].downcase %></small> - 🛬
          <%= Time.parse(segments.last['arrival']['at']).strftime('%H:%M') %>
          <% if arrival_departure_calcul > date_departure_calcul %>
            <span class="text-grey-500 text-sm">+1</span>
          <% end %>
        </p>

        <p>
          <%= segments.first['departure']['iataCode'] %> - <%= segments.last['arrival']['iataCode'] %>
        </p>
<%# Checck Airline Operating the flights %>
        <% if operating_airlines.size == 1 %>
          <p class="text-sm">
            Flights operated by <%= operating_airlines.first %>
          </p>
        <% else %>
          <p class="text-sm">
            Main Operating Airline is <%= operating_airlines.join(', ') %>
          </p>
        <% end %>
      </div>
    <% end %>
<%# Price display %>
    <p class="mt-4 flex-row">
        <strong><%= flight['price'] %>€</strong>
    </p>
  </div>
<% end %>