<h1>Flight Search Results</h1>

<% @flights.each do |flight| %>
  <div>
    <p>Origin: <%= flight.departure_city %></p>
    <p>Destination: <%= flight.arrival_city %></p>
    <p>Departure Date: <%= flight.departure_date %></p>
    <p>Arrival Date: <%= flight.arrival_date %></p>
    <p>Price: <%= flight.price %></p>
  </div>
<% end %>