<h1 class="text-3xl tracking-wide text-center">
  Canoë Flights
</h1>

<div>
  <div class="p-4 m-2 rounded-lg bg-blue-950 text-white">
    <h2 class="text-xl font-semibold mb-4">Flight Results for</h2>
    <div class="flex">
      <h3><%= @departure_city %> - <%= @arrival_city %></h3>
      <h3 class="mx-8"><%= @departure_date.strftime('%a, %b %d') %> - <%= @return_date.strftime('%a, %b %d') %></h3>
      <h3 class="mx-8"><%= @adults %> adults</h3>
    </div>
  </div>

  <% @flights.each do |flight| %>
    <div class="flight-details bg-white rounded-lg mx-64 my-8 py-4 px-4">
      <% flight.itineraries.each do |itinerary| %>
        <div class="itinerary">
          <% itinerary['segments'].each_with_index do |segment, index| %>
            <p>
              <%= Time.parse(segment['departure']['at']).strftime('%H:%M') %> -
              <small><%= itinerary['duration'] %></small> -
              <%= Time.parse(segment['arrival']['at']).strftime('%H:%M') %>
            </p>
            <p>
              <%= segment['departure']['iataCode'] %> -
              <% segment['numberOfStops'].times do |stop_index| %>
                <%= segment['stops'][stop_index]['iataCode'] %> -
              <% end %>
              <%= segment['arrival']['iataCode'] %>
            </p>
          <% end %>
        </div>
      <% end %>
      <p class="mt-4">
        <strong><%= flight['price'] %>€</strong>
      </p>
    </div>
  <% end %>
</div>
