 <h1 class="text-3xl tracking-wide text-center">
      Canoë Flights
  </h1>

<% @flights.each do |flight| %>
  <div class="bg-white rounded-lg mx-64 my-8 py-4 px-4">
    <div class="flex">
      <p><strong><%= flight.departure_city %></strong></p>
      <p class="ml-2">to</p>
      <p class="ml-2"><strong><%= flight.arrival_city %></strong></p>
    </div>
    <div class="flex">
      <p>Departure: <%= flight.departure_date.strftime('%I:%M %p') %></p>
      <p class="ml-2">Arrival: <%= flight.arrival_date.strftime('%I:%M %p') %></p>
    </div>
    <p><%= flight.price %>$</p>
  </div>
<% end %>


