<h1>Welcome to search results</h1>

<%=  @flights.each do |flight| %>
  <%= flight.departure_city %>
  <%= flight.arrival_city %>
  <%= flight.departure_date %>
  <%= flight.arrival_date %>
  <%= flight.price %>

<% end %>