<h1 class="text-3xl tracking-wide text-center">
  Canoë Flights
</h1>
<div class="p-4 m-2 rounded-lg bg-blue-950 text-white">
  <h2 class="text-xl font-semibold mb-4">Flight Results for</h2>
  <div class="flex">
    <h3><%= @departure_city %> - <%= @arrival_city %></h3>
    <% if @return_date %>
      <h3 class="mx-8"><%= @departure_date.strftime('%a, %B %d') %> - <%= @return_date.strftime('%a, %B %d') %></h3>
    <% else %>
      <h3 class="mx-8"><%= @departure_date.strftime('%a, %B %d') %></h3>
    <% end %>
    <h3 class="mx-8"><%= @adults %> adults</h3>
    <h3 class="mx-8"><%= @travel_class.capitalize %></h3>
  </div>
</div>
<div class="flex mx-64 my-8 mx-2 p-4 rounded-lg bg-white shadow-md place-content-around">
  <!-- Filter: Cheapest flight and duration -->
  <div class="filter-container border-r-4 pr-2">
    <h3>Cheapest Flight</h3>
    <div class="flex font-light text-sm">
      <% cheapest_flight = @flights.min_by { |flight| flight['price'].to_f } %>
      <% if cheapest_flight %>
        <% cheapest_itinerary = cheapest_flight['itineraries'].first %>
        <% if cheapest_itinerary %>
          <!-- Duration -->
          <% duration = cheapest_itinerary['duration'] %>
          <% hours = duration.scan(/\d+/)[0].to_i %>
          <% minutes = duration.scan(/\d+/)[1].to_i %>
          <p><%= "#{hours}h#{minutes}" %></p>
          <p> - </p>
          <!-- Price -->
          <p><%= cheapest_flight['price']%>€</p>
        <% else %>
          <p>No itinerary found.</p>
        <% end %>
      <% else %>
        <p>No flight found.</p>
      <% end %>
    </div>
  </div>
  <!-- Filter: Shortest duration and price -->
  <div class="filter-container border-r-4 pr-2">
    <h3>Shortest Duration</h3>
    <div class="flex font-light text-sm">
      <% shortest_duration_flight = @flights.min_by { |flight| flight['itineraries'].sum { |itinerary| itinerary['duration'].to_i } } %>
      <% if shortest_duration_flight %>
        <!-- Duration -->
        <p><%= shortest_duration_flight['itineraries'].sum { |itinerary| itinerary['duration'].to_i } %> minutes</p>
        <p> - </p>
        <!-- Price -->
        <p><%= shortest_duration_flight['price'] %>€</p>
      <% else %>
        <p>No flight found.</p>
      <% end %>
    </div>
  </div>
  <!-- Filter: Best Choice - Combination of price and shortest duration -->
  <div class="filter-container">
    <h3>Best Choice</h3>
    <div class="flex font-light text-sm">
      <% best_choice_flight = @flights.min_by { |flight| flight['price'].to_f / flight['itineraries'].sum { |itinerary| itinerary['duration'].to_i } } %>
      <% if best_choice_flight %>
        <!-- Duration -->
        <p><%= best_choice_flight['itineraries'].sum { |itinerary| itinerary['duration'].to_i } %> minutes</p>
        <p> - </p>
        <!-- Price -->
        <p><%= best_choice_flight['price'] %>€</p>
      <% else %>
        <p>No flight found.</p>
      <% end %>
    </div>
  </div>
</div>
<% @flights.each do |flight| %>
  <div class="flight-details bg-white rounded-lg mx-64 my-8 py-4 px-4">
    <% flight['itineraries'].each do |itinerary| %>
      <div class="itinerary">
        <% segments = itinerary['segments'] %>
        <% if segments %>
          <% operating_airline_codes = segments.map { |segment| segment['operating']&.dig('carrierCode') }.compact.uniq %>
          <% operating_airlines = operating_airline_codes.map { |code| search_airlines_name(code, @access_token) } %>
          <% flight_price = flight['price'] %>
          <% segments.each do |segment| %>
            <% if segment['operating'] && segment['operating']['carrierCode'] %>
              <!-- Flight info -->
              <div class="flight-info">
                <p>
                  <strong><%= Time.parse(segment['departure']['at']).strftime('%H:%M') %> -</strong>
                  <small><%= itinerary['duration'].strip[2..-1].downcase %></small> - 🛬
                  <strong><%= Time.parse(segment['arrival']['at']).strftime('%H:%M') %></strong>
                </p>
                <p>
                  <%= segment['departure']['iataCode'] %> - <%= segment['arrival']['iataCode'] %>
                </p>
                <%# Check Airline Operating the flights %>
                <% if operating_airlines.size == 1 %>
                  <p class="text-sm mb-4">
                    Flights operated by <strong><%= operating_airlines.first %></strong>
                  </p>
                <% elsif operating_airlines.size > 1 %>
                  <p class="text-sm mb-4">
                    Flights operated by several airlines
                  </p>
                <% else %>
                  <p class="text-sm mb-4">
                    Main operating airline is <%= operating_airlines.join(' ') %>
                  </p>
                <% end %>
                <%# Check if baggage is included %>
                <% fare_details = flight['travelerPricings']&.[](0)&['fareDetailsBySegment']&.find { |fare| fare && fare['segmentId'] == segment['id'] } %>
                <% if fare_details && fare_details['includedCheckedBags'] %>
                  <p class="text-sm mb-4">
                    Baggage included: <%= fare_details['includedCheckedBags']['quantity'] %> checked bags
                  </p>
                <% elsif flight['pricingOptions'] && flight['pricingOptions']['includedCheckedBagsOnly'] == true %>
                  <p class="text-sm mb-4">
                    🧳 included
                  </p>
                <% else %>
                  <p class="text-sm mb-4">
                    🧳 information not available
                  </p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <!-- Price display -->
    <p class="mt-4">
      <strong><%= flight['price'] %>€</strong>
    </p>
  </div>
<% end %>
