<h1 class="text-3xl tracking-wide text-center">
  Canoë Flights
</h1>
<div class="p-4 m-2 rounded-lg bg-blue-950 text-white">
  <h2 class="text-xl font-semibold mb-4">Flight Results for</h2>
  <div class="flex">
    <h3 class="mr-8" ><%= @trip_type_value %></h3>
    <h3><%= @departure_city %> → <%= @arrival_city %></h3>
    <% if @return_date %>
      <h3 class="mx-8"><%= @departure_date.strftime('%a, %B %d') %> - <%= @return_date.strftime('%a, %B %d') %></h3>
    <% else %>
      <h3 class="mx-8"><%= @departure_date.strftime('%a, %B %d') %></h3>
    <% end %>
    <h3 class="mx-8"><%= @adults == 1 ? "#{@adults} adult" : "#{@adults} adults" %></h3>
    <h3 class="mx-8"><%= @travel_class.capitalize %></h3>
  </div>
</div>
<% @flights.each do |flight| %>
  <div class="flight-details bg-white rounded-lg mx-64 my-8 py-4 px-4">
    <% flight['itineraries'].each do |itinerary| %>
      <div class="itinerary">
        <% segments = itinerary['segments'] %>
        <% if segments %>
          <% operating_airline_codes = segments.map { |segment| segment['operating']&.dig('carrierCode') }.compact.uniq %>
          <% operating_airlines = operating_airline_codes.map { |code| search_airlines_name(code, @access_token) } %>
          <% flight_price = flight['price'] %>
          <% segments.each do |segment| %>
            <% if segment['operating'] && segment['operating']['carrierCode'] %>
              <!-- Flight info -->
              <div class="flight-info flex justify-between items-center" style= "justify-content: space-between;">
                <%# Check Airline Operating the flights %>
                <% operating_airlines.each do |operating_airline| %>
                  <%= puts operating_airline %>
                  <% airline_company_logo = search_airlines_logo(operating_airline) %>
                  <p>
                    <img src="<%= airline_company_logo %>" alt="<%= operating_airline %>" class="rounded-full" style="height: 50px; width: 50px;">
                  </p>
                <% end %>
                <div>
                  <p>
                    <strong><%= Time.parse(segment['departure']['at']).strftime('%H:%M') %></strong> -
                    <strong><%= Time.parse(segment['arrival']['at']).strftime('%H:%M') %></strong>
                  </p>
                  <p class='text-sm font-thin decoration-gray-50'>
                    <%= segment['departure']['iataCode'] %> - <%= segment['arrival']['iataCode'] %>
                  </p>
                </div>
                <%# Display the quantity of checked bags included for this segment %>
                <% if segment['checkedBags'] %>
                  <p class="text-sm mb-4">
                    Checked luggage: <%= segment['checkedBags'] %> 🧳
                  </p>
                  <small><%= itinerary['duration'].strip[2..-1].downcase %></small>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <!-- Price display -->
    <p class="mt-4 flex" style= "justify-content: flex-end;">
      <strong><%= flight['price'] %>€</strong>
    </p>
  </div>
<% end %>
